[Desktop Entry]
Name=Applicacion de gestion de Green In House
Comment=
Exec=/GreenInHouse/script/GIH-start_frontend.sh
Icon=
Terminal=false
Type=Application